*, *:before, *:after{
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 575px;
}

nav {
  position: fixed;
  width: 575px;
  background-color: white;
  border-bottom: 1px solid #979797;
}

.bus-list {
  padding-top: 50px;
  background-color: white;
}

.routes {
  border-bottom: 1px solid #979797;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.details li {
  display: inline-block;
}

.line {
  width: 10%;
  margin-left: 20px;
}

.stop {
  width: 40%;
  text-align:center;
}

.time {
  width: 40%;
  text-align: center;
}

.map {
  margin: 0 auto;
  width: 575px;
}

.title {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  padding-left: 20px;
  font-style: italic;
  padding-bottom: 10px;
}

.green {
  background-color: #4cd964;
}
